<p>Add new skill: Name, Description</p>
<form action="/skill/all" method="POST">
    <input type="'text" name='skill[skill_name]'>
    <input type="'text" name='skill[description]'>
    <button type="submit">submit</button>
</form>
<table>
    <thead>
    <tr>
        <td>Skill ID</td>
        <td>Skill Name</td>
        <td>Description</td>
        <td>delete</td>

    </tr>
    </thead>
    <tbody>
    <% response.forEach(function(i) { %>
    <tr>
        <td><%= i.skill_id%></td>
        <td><%= i.skill_name %></td>
        <td><%= i.description %></td>
        <td><a href="/skill/delete/<%=i.skill_id%>">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
</table>
<p>Update a record, old ID, updated name, updated desc.</p>
<form action="/skill/edit" method="POST">
    <input type="'text" name='skill[skill_id]'>
    <input type="'text" name='skill[skill_name]'>
    <input type="'text" name='skill[description]'>
    <button type="submit">submit</button>
</form>